body{
        background-image: url('../imagenes/inicio.png');
        background-size: cover;
    
}
.pollo{
    float: right;
    margin-right: 100px;
    margin-top: 80px;
}
.boton{
    position: absolute;
    height: 150px;
    width: 150px;
    margin-top: 340px;
    margin-left: 210px;
    
}